// 手机
@media (max-width: 768px) {
    .fif-main {
        position: fixed;
        top: 13vw;
        bottom: 16vw;
        overflow-y: scroll;
        overflow-x: hidden;
        left: 0px;
        right: 0px;
        .crumbs-bok, .paging-bok{
            display: none;
        }
        .news-list-bok{
            width: 95vw;
            margin: 0px auto;
            >.news-bok{
                >h6{
                    position: relative;
                    a{
                        width: 100%;
                        padding-right: 12vw;
                        box-sizing: border-box;
                        height: 12vw;
                        line-height: 12vw;
                        overflow:hidden; //超出的文本隐藏
                        text-overflow:ellipsis; //溢出用省略号显示
                        white-space:nowrap; //溢出不换行
                        color: #3e4149;
                        font-size: 3.5vw;
                        display: block;
                        position: relative;
                        z-index: 1;
                    }
                    svg.icon-next{
                        width: 4vw;
                        height: 4vw;
                        color: #959090;
                        vertical-align: middle;
                        fill: currentColor;
                        overflow: hidden;
                        position: absolute;
                        right: 1vw;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 0;
                    }
                }
                border-bottom: 1px solid #dde0e5;
                .time, .abstract, .tag-bok{
                    display: none;
                }
            }
            .data-status{
                width: 100%;
                margin-top: 3vw;
                text-align: center;
                dt{
                    font-size: 3.5vw;
                    color: #dde0e5;
                    height: 12vw;
                    line-height: 12vw;
                }
                dd{
                    font-size: 3.5vw;
                    color: #b0b5bd;
                    height: 12vw;
                    line-height: 12vw;
                    svg.icon-load{
                        width: 5vw;
                        height: 5vw;
                        vertical-align: middle;
                        fill: currentColor;
                        overflow: hidden;
                        margin-right: 2vw;
                        animation: load-animation 1.5s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
    }
}
@keyframes load-animation{
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
// pc
@media (min-width:768px) {
    .fif-main {
        min-height: 600px;
        .news-list-bok{
            width: 780px;
            margin: 0px auto 25px auto;
            .news-bok{
                border-bottom: 1px solid #ededed;
                padding: 30px 0px;
                h6{
                    margin-bottom: 10px;
                    a{
                        font-size: 16px;
                        font-weight: bold;
                        color: #3d4048;
                        display: inline-block;
                        max-width: 100%;
                        overflow:hidden; //超出的文本隐藏
                        text-overflow:ellipsis; //溢出用省略号显示
                        white-space:nowrap; //溢出不换行
                    }
                    svg.icon-next{
                        display: none;
                    }
                }
                >.time{
                    color: #b5b5b6;
                    font-size: 12px;
                    margin-bottom: 20px;
                }
                >.abstract{
                    color: #959090;
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 20px;
                    word-wrap: break-word;
                    word-break: normal;
                    >a.more{
                        text-decoration: underline;
                    }
                }
                >.tag-bok{
                    display: flex;
                    flex-direction: row;
                    flex-wrap:nowrap;
                    align-items:stretch;
                    li{
                        margin-right: 10px;
                        a{
                            background-color: #b5b5b6;
                            display: block;
                            height: 30px;
                            line-height: 30px;
                            font-size: 14px;
                            color: #fff;
                            padding: 0px 10px;
                        }
                    }
                }
            }
            .data-status{
                display: none;
            }
            .paging-bok{
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                margin: 50px 0px 20px;
            }
        }
    }
}