<!DOCTYPE html>
<html>

	<head>
<%= require('../common/meta/meta.ejs')() %>
		<title>商品列表页</title>
	</head>

	<body>
		<%= require('../common/nav-ordinary/nav-ordinary.ejs') ({StateCode : 1, TitleName:"PS4"})%>
		<div class="fif-main">
			<%= require('../common/crumb-ordinary/crumb-ordinary.ejs') ()%>
			<div class="news-details-bok">
				<h6 class="title">Guide de FIFA 18 Ultimate Team World Cup</h6>
				<div class="time">2018-06-27 08:12:34</div>
				<hr class="line">
				<div class="rich-text">
					<p>
						Comme nous le savons tous, il y a quelque temps, Valve a publié "Blocage de Transaction de 7 jours" pour les échanges de Skins CS: GO, et ensuite, PUBG a officiellement éteignait l’échange des objets entre les joueurs en raison des sites tierces de vente d'objets. Selon les ajustements significatifs successifs, nous avons des raisons de croire que, pour le marché tiers de transaction des objets Steam, "l'Hiver est arrivé".
					</p>
				</div>
			</div>
		</div>
		<%= require('../common/footer-ordinary/footer-ordinary.ejs') ()%>
	</body>

</html>