<!--pc端-->
<nav class="fif-nav-pc">
	<div class="nav-one">
		<div class="one-bok">
			<div class="option-bok">
				<div class="main hover-f">USD<em class="down-icon hover-f"><svg class="icon" viewBox="0 0 1843 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2858"><path d="M1387.32440947 237.12330028a53.6332414 53.6332414 0 0 0-75.80164813 1e-8l-393.31043876 393.31043875-393.31043876-393.31043877A53.6332414 53.6332414 0 0 0 451.96067514 312.92494839l429.06593339 429.0659334a53.6332414 53.6332414 0 0 0 75.80164812 0l429.06593336-429.0659334A53.6332414 53.6332414 0 0 0 1387.32440947 237.12330028z" p-id="2859"></path></svg></em></div>
				<ul class="select-bok">
					<li class="hover-b"><a href="#">ASD</a></li>
					<li class="hover-b"><a href="#">QWEQWE</a></li>
					<li class="hover-b"><a href="#">DFG</a></li>
				</ul>
			</div>
			<div class="option-bok">
				<div class="main hover-f"><img class="img-iocn" src="./static/img/fif-icon_07.png">English<em class="down-icon"><svg class="icon hover-f" viewBox="0 0 1843 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2858"><path d="M1387.32440947 237.12330028a53.6332414 53.6332414 0 0 0-75.80164813 1e-8l-393.31043876 393.31043875-393.31043876-393.31043877A53.6332414 53.6332414 0 0 0 451.96067514 312.92494839l429.06593339 429.0659334a53.6332414 53.6332414 0 0 0 75.80164812 0l429.06593336-429.0659334A53.6332414 53.6332414 0 0 0 1387.32440947 237.12330028z" p-id="2859"></path></svg></em></div>
				<ul class="select-bok">
					<li class="hover-b"><a href="#"><img class="img-iocn" src="./static/img/fif-icon_09.png">Chinese</a></li>
					<li class="hover-b"><a href="#"><img class="img-iocn" src="./static/img/fif-icon_11.png">Korea</a></li>
					<li class="hover-b"><a href="#"><img class="img-iocn" src="./static/img/fif-icon_13.png">Japanese</a></li>
					<li class="hover-b"><a href="#"><img class="img-iocn" src="./static/img/fif-icon_15.png">Argentina</a></li>
				</ul>
			</div>			
			<div class="option-bok">
				<a href="#" class="main hover-f"><svg class="icon user" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4535"><path d="M506.113 922.791L351.167 657.269s-167.753 66.305-225.961 106.192c-58.208 39.919-83.92 160.991-83.92 160.991h931.283s-17.072-114.018-85.537-160.991c-58.219-39.888-225.973-106.192-225.973-106.192L506.113 922.791z m0-212.426l-51.652 53.096 25.832 53.117-77.484 106.213h206.598l-77.473-106.213 25.82-53.117-51.641-53.096z m5.546-608.78c227.459 0 227.86 177.348 227.86 277.055 0 99.696-91.148 284.989-227.86 285.195-136.723 0.228-227.861-185.499-227.861-285.195 0-99.706 0.402-277.055 227.861-277.055" p-id="4536"></path></svg>Affiliate</a>
			</div>
			<div class="option-bok">
				<a href="#" class="main hover-f"><svg class="icon faq" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7402"><path d="M951.610417 774.220296a511.843655 511.843655 0 1 0-129.68257 145.03788l146.666473 44.158148c28.244464 8.515217 43.553242-7.258874 34.246994-35.270681l-51.184366-154.018409z m-440.557793 13.726717a42.296898 42.296898 0 1 1 42.296898-42.296899 42.34343 42.34343 0 0 1-42.250367 42.296899z m152.250222-344.703436a283.840572 283.840572 0 0 1-60.490614 67.889081 272.859199 272.859199 0 0 0-36.294368 36.108243 73.705486 73.705486 0 0 0-11.446686 24.335839 225.909177 225.909177 0 0 0-4.653124 48.71821v10.981373H549.068648a39.691149 39.691149 0 0 1-77.939829-10.748717v-3.257187-14.98306a177.749342 177.749342 0 0 1 10.655654-64.399238 148.899972 148.899972 0 0 1 25.219933-41.878117 447.16523 447.16523 0 0 1 43.878961-42.622617 193.197714 193.197714 0 0 0 37.736836-40.528711 58.350177 58.350177 0 0 0 7.770718-29.733463 70.913612 70.913612 0 0 0-23.637871-52.766428 80.080266 80.080266 0 0 0-58.48977-23.265621 77.660642 77.660642 0 0 0-55.83749 20.706403 113.722354 113.722354 0 0 0-29.59387 66.027831 41.878117 41.878117 0 0 1-83.290922 2.419625h-1.442468l1.302875-10.888311a156.251909 156.251909 0 0 1 167.512469-149.272222 172.584374 172.584374 0 0 1 120.608977 41.505867 133.172413 133.172413 0 0 1 45.833273 101.5777 129.775632 129.775632 0 0 1-16.006747 64.07352z" p-id="7403"></path></svg>FAQ</a>
			</div>
			<div class="option-bok">
				<a href="#" class="main hover-f"><svg class="icon sign" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9355"><path d="M512 42.666667C251.733333 42.666667 42.666667 251.733333 42.666667 512s209.066667 469.333333 469.333333 469.333333 469.333333-209.066667 469.333333-469.333333S772.266667 42.666667 512 42.666667z m-4.266667 230.4c64 0 115.2 51.2 115.2 110.933333s-51.2 110.933333-115.2 110.933333c-64 0-115.2-51.2-115.2-110.933333s51.2-110.933333 115.2-110.933333z m243.2 469.333333H273.066667c-12.8 0-21.333333-8.533333-21.333334-21.333333 0-93.866667 72.533333-166.4 166.4-166.4h183.466667c93.866667 0 166.4 76.8 170.666667 166.4 0 12.8-8.533333 21.333333-21.333334 21.333333z" p-id="9356"></path></svg>Sign In</a>
			</div>
		</div>
	</div>
	<div class="nav-two">
		<div class="two-bok">
			<a href="#" class="logo"><img class="img-iocn" src="./static/img/fif-icon_logo.png"></a>
			<div class="option-bok"><a class="hover-f hover-bb2 select-f-bb2" href="#">Home</a></div>
			<div class="option-bok"><a class="hover-f hover-bb2" href="#">FIFA19 Coins</a>
				<ul class="select-bok">
					<li><a href="#" class="hover-b">PS4</a></li>
					<li><a href="#" class="hover-b">XBOX</a></li>
					<li><a href="#" class="hover-b">PC</a></li>
					<li><a href="#" class="hover-b">SWITCH</a></li>
				</ul>
			</div>
			<div class="option-bok"><a class="hover-f hover-bb2" href="#">Luckiest Packs</a></div>
			<div class="option-bok"><a class="hover-f hover-bb2" href="#">FIFA19 Packs</a></div>
			<div class="option-bok"><a class="hover-f hover-bb2" href="#">Sell Coins</a></div>
			<div class="option-bok"><a class="hover-f hover-bb2" href="#">How To Buy</a></div>
			<div class="option-bok"><a class="hover-f hover-bb2" href="#">Giveaway</a></div>
		</div>
	</div>
</nav>
<!--手机端-->
<nav class="fif-nav-hone">
	<% if(data.StateCode == 0) { %>
	<!--带菜单的手机端头部-->
	<div class="nav-one">
		<svg id="js-nav-menu" class="icon-menu hover-f" viewBox="0 0 1109 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="16947"><path d="M0.000427 512a85.333333 85.333333 0 0 1 85.205333-85.333333h938.922667c47.061333 0 85.205333 38.186667 85.205333 85.333333a85.333333 85.333333 0 0 1-85.205333 85.333333H85.20576A85.077333 85.077333 0 0 1 0.000427 512zM0.000427 85.333333C0.000427 38.186667 38.10176 0 84.992427 0h470.016C601.94176 0 640.000427 37.888 640.000427 85.333333c0 47.146667-38.101333 85.333333-84.992 85.333334H84.992427C38.059093 170.666667 0.000427 132.778667 0.000427 85.333333z m469.333333 853.333334c0-47.146667 38.101333-85.333333 84.992-85.333334h470.016c46.933333 0 84.992 37.888 84.992 85.333334 0 47.146667-38.101333 85.333333-84.992 85.333333H554.32576c-46.933333 0-84.992-37.888-84.992-85.333333z" p-id="16948"></path></svg>
		<a href="#" class="logo"><img class="img-iocn" src="./static/img/fif-icon_logo.png"></a>
		<svg id="js-nav-set" class="icon-set hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="17824"><path d="M937.866253 570.953692a32.04005 32.04005 0 0 1-5.126408-20.826032c0-13.136421 1.922403-24.991239 1.922403-36.846058a245.106383 245.106383 0 0 0-1.922403-36.846058 32.04005 32.04005 0 0 1 5.126408-20.826032l62.157697-86.508135a30.117647 30.117647 0 0 0 0-32.04005l-90.352941-156.675845a30.117647 30.117647 0 0 0-28.836045-15.058824l-107.334168 9.932416a29.476846 29.476846 0 0 1-19.22403-5.446809 421.967459 421.967459 0 0 0-60.555695-35.564455 29.476846 29.476846 0 0 1-13.777221-13.136421L628.359369 16.660826a30.117647 30.117647 0 0 0-26.913642-16.660826h-181.026283a30.117647 30.117647 0 0 0-26.913642 16.660826L342.562123 118.548185a29.476846 29.476846 0 0 1-13.777222 13.136421 421.647059 421.647059 0 0 0-60.555694 35.564455 29.476846 29.476846 0 0 1-19.864832 5.446809l-107.334167-9.932416a30.117647 30.117647 0 0 0-28.836045 15.058824L21.841222 334.498123a30.117647 30.117647 0 0 0 0 32.04005l62.157697 87.789737a32.04005 32.04005 0 0 1 5.126408 20.826032c0 13.136421-1.922403 24.991239-1.922403 36.846058a245.106383 245.106383 0 0 0 1.922403 36.846058 32.04005 32.04005 0 0 1-5.126408 20.826032L24.404426 657.461827a30.117647 30.117647 0 0 0 0 32.04005L113.475765 846.177722a30.117647 30.117647 0 0 0 28.836045 15.058824l107.334167-9.932416a29.797247 29.797247 0 0 1 19.864832 5.446809A420.365457 420.365457 0 0 0 342.241722 897.121402a29.797247 29.797247 0 0 1 15.699625 16.020025l36.846057 91.954943a30.117647 30.117647 0 0 0 27.874844 18.90363h181.026283a30.117647 30.117647 0 0 0 27.874843-18.90363l36.846058-91.954943a29.797247 29.797247 0 0 1 15.699624-16.020025A420.045056 420.045056 0 0 0 754.276766 856.750939a29.797247 29.797247 0 0 1 19.864831-5.446809l107.334168 9.932416a30.117647 30.117647 0 0 0 28.836045-15.058824l90.352941-156.675845a30.117647 30.117647 0 0 0 0-32.04005zM868.339344 801.001252l-122.713392-11.214018-9.612015 7.369212a361.091364 361.091364 0 0 1-96.12015 54.788485l-12.495619 4.806008-43.574468 108.93617h-141.617022l-43.574468-108.93617-12.495619-4.806008a360.450563 360.450563 0 0 1-96.12015-54.788485l-9.612015-7.369212-124.315395 11.214018-72.410513-123.033793L155.12783 576.720901v-11.854818a324.886108 324.886108 0 0 1 0-103.489362v-11.854819l-71.449312-100.926157L154.807429 224.28035l123.033793 11.214018 9.612015-7.369212a361.411765 361.411765 0 0 1 84.585732-49.982478l10.252816-4.165206 57.031289-113.101377h143.539424l57.031289 114.062578 10.252816 4.165207a361.732165 361.732165 0 0 1 84.585732 49.982478l9.612015 7.369211L867.378143 224.28035l71.128911 123.354193L867.057742 448.560701v11.854818a324.886108 324.886108 0 0 1 0 103.489362v11.854819l71.449312 100.926157zM512.374388 320.400501a192.2403 192.2403 0 1 0 192.2403 192.2403 192.2403 192.2403 0 0 0-192.2403-192.2403z m0 320.4005a128.1602 128.1602 0 1 1 128.1602-128.1602 128.1602 128.1602 0 0 1-128.1602 128.1602z" p-id="17825"></path></svg>
	</div>
	<div id="js-nav-two" class="nav-two">
		<div class="option-bok">
			<svg class="icon-dollar" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="25814"><path d="M510.969 63.095c-247.515 0-448.165 200.65-448.165 448.163s200.65 448.163 448.165 448.163 448.163-200.65 448.163-448.163S758.482 63.095 510.969 63.095z m37.738 678.352v72.356h-61.759v-69.867c-42.42-4.986-90.444-24.324-123.516-54.267l40.548-61.758c34.32 26.822 67.376 42.42 102.93 42.42 43.669 0 63.631-19.337 63.631-54.898 0-84.21-189.63-76.726-189.63-207.102 0-67.994 40.548-114.784 106.037-127.254v-72.363h61.759v71.114c44.918 6.235 76.725 28.695 103.555 56.764l-46.167 52.401c-25.565-23.706-48.025-36.809-79.848-36.809-36.802 0-57.388 17.472-57.388 51.777 0 77.358 189.645 65.504 189.645 205.237 0 67.993-38.05 118.522-109.797 132.249z" fill="" p-id="25815"></path></svg>
			<span>USD</span>
			<dl class="select-bok border-c">
				<dt class="horn background-c"></dt>
				<dd><a href="#" class="hover-b">USD</a></dd>
				<dd><a href="#" class="hover-b">USD</a></dd>
				<dd><a href="#" class="hover-b">USD</a></dd>
				<dd><a href="#" class="hover-b">USD</a></dd>
				<dd><a href="#" class="hover-b">USD</a></dd>
				<dd><a href="#" class="hover-b">USD</a></dd>
			</dl>
		</div>
		<div class="option-bok">
			<svg class="icon-earth" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1972"><path d="M646.956 781.138c-11.022-26.542-47.398-71.919-108.13-134.879-16.209-16.834-15.166-29.751-9.375-68.128l0.667-4.335c3.936-26.291 10.541-41.835 100.067-55.876 45.481-7.124 57.44 10.834 74.022 35.709a564.238 564.238 0 0 0 5.542 8.166c15.75 22.753 27.418 27.959 45.045 35.876 7.897 3.542 17.75 8.002 30.957 15.417 31.295 17.669 31.295 37.627 31.295 81.379v4.958c0 69.922-26.043 107.758-36.21 119.882-38.793 33.045-83.817 59.086-133.151 76.169 24.459-45.126 5.749-98.71-0.73-114.338zM511.993 105.529c63.836 0 124.297 14.375 178.3 40.086-29.67 18.543-72.295 47.545-89.838 71.294-6.5 8.793-12.083 17.125-17.251 24.793-17.125 25.502-25.375 36.877-41.169 38.835-7.831 0.957-18.333 0.29-29.458-0.417-29.834-1.916-70.647-4.501-83.712 30.543-8.292 22.208-9.75 82.502 17.085 113.796 4.293 5.001 5.124 14.25 2.208 24.627-3.835 13.626-11.583 21.918-14 23.626-4.627-2.625-13.856-13.21-20.106-20.418-15.065-17.293-33.856-38.835-58.148-45.503-8.833-2.416-18.543-4.415-27.959-6.374-26.356-5.459-56.21-11.668-63.147-26.291-5.063-10.71-5.042-25.46-5.022-41.043 0-19.751 0-42.086-9.792-63.795-8.499-18.875-23.479-29.085-39.209-34.084 75.252-79.714 182.403-129.675 301.22-129.675zM64.371 511.877c0 243.97 200.404 441.727 447.622 441.727 247.219 0 447.621-197.756 447.621-441.727 0-243.967-200.402-441.725-447.621-441.725S64.371 267.91 64.371 511.877z" p-id="1973"></path></svg>
			<span>English</span>
			<dl class="select-bok border-c">
				<dt class="horn background-c"></dt>
				<dd><a href="#" class="hover-b">Chinese</a></dd>
				<dd><a href="#" class="hover-b">Korea</a></dd>
				<dd><a href="#" class="hover-b">Japanese</a></dd>
				<dd><a href="#" class="hover-b">Argentina</a></dd>
			</dl>
		</div>
		<div class="option-bok">
			<svg class="icon-user" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4535"><path d="M506.113 922.791L351.167 657.269s-167.753 66.305-225.961 106.192c-58.208 39.919-83.92 160.991-83.92 160.991h931.283s-17.072-114.018-85.537-160.991c-58.219-39.888-225.973-106.192-225.973-106.192L506.113 922.791z m0-212.426l-51.652 53.096 25.832 53.117-77.484 106.213h206.598l-77.473-106.213 25.82-53.117-51.641-53.096z m5.546-608.78c227.459 0 227.86 177.348 227.86 277.055 0 99.696-91.148 284.989-227.86 285.195-136.723 0.228-227.861-185.499-227.861-285.195 0-99.706 0.402-277.055 227.861-277.055" p-id="4536"></path></svg>
			<span>Affiliate</span>
		</div>
		<div class="option-bok">
			<svg class="icon-faq" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7402"><path d="M951.610417 774.220296a511.843655 511.843655 0 1 0-129.68257 145.03788l146.666473 44.158148c28.244464 8.515217 43.553242-7.258874 34.246994-35.270681l-51.184366-154.018409z m-440.557793 13.726717a42.296898 42.296898 0 1 1 42.296898-42.296899 42.34343 42.34343 0 0 1-42.250367 42.296899z m152.250222-344.703436a283.840572 283.840572 0 0 1-60.490614 67.889081 272.859199 272.859199 0 0 0-36.294368 36.108243 73.705486 73.705486 0 0 0-11.446686 24.335839 225.909177 225.909177 0 0 0-4.653124 48.71821v10.981373H549.068648a39.691149 39.691149 0 0 1-77.939829-10.748717v-3.257187-14.98306a177.749342 177.749342 0 0 1 10.655654-64.399238 148.899972 148.899972 0 0 1 25.219933-41.878117 447.16523 447.16523 0 0 1 43.878961-42.622617 193.197714 193.197714 0 0 0 37.736836-40.528711 58.350177 58.350177 0 0 0 7.770718-29.733463 70.913612 70.913612 0 0 0-23.637871-52.766428 80.080266 80.080266 0 0 0-58.48977-23.265621 77.660642 77.660642 0 0 0-55.83749 20.706403 113.722354 113.722354 0 0 0-29.59387 66.027831 41.878117 41.878117 0 0 1-83.290922 2.419625h-1.442468l1.302875-10.888311a156.251909 156.251909 0 0 1 167.512469-149.272222 172.584374 172.584374 0 0 1 120.608977 41.505867 133.172413 133.172413 0 0 1 45.833273 101.5777 129.775632 129.775632 0 0 1-16.006747 64.07352z" p-id="7403"></path></svg>
			<span>FAQ</span>
		</div>
	</div>
	<div id="js-nav-three" class="nav-three">
		<em id="js-three-close" class="close-but"><svg class="icon-close" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3889"><path d="M574.55 522.35L904.4 192.5c16.65-16.65 16.65-44.1 0-60.75l-1.8-1.8c-16.65-16.65-44.1-16.65-60.75 0L512 460.25 182.15 129.95c-16.65-16.65-44.1-16.65-60.75 0l-1.8 1.8c-17.1 16.65-17.1 44.1 0 60.75l329.85 329.85L119.6 852.2c-16.65 16.65-16.65 44.1 0 60.75l1.8 1.8c16.65 16.65 44.1 16.65 60.75 0L512 584.9 841.85 914.75c16.65 16.65 44.1 16.65 60.75 0l1.8-1.8c16.65-16.65 16.65-44.1 0-60.75L574.55 522.35z" fill="" p-id="3890"></path></svg></em>
		<div class="three-menu-bok">
			<a href="#" class="logo"><img src="./static/img/fif-icon_logo.png"></a>
			<div class="menu-bok">
				<ul id="js-three-menu" class="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">FIFA19 Coins<em class="down-icon"><svg class="icon hover-f" viewBox="0 0 1843 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2858"><path d="M1387.32440947 237.12330028a53.6332414 53.6332414 0 0 0-75.80164813 1e-8l-393.31043876 393.31043875-393.31043876-393.31043877A53.6332414 53.6332414 0 0 0 451.96067514 312.92494839l429.06593339 429.0659334a53.6332414 53.6332414 0 0 0 75.80164812 0l429.06593336-429.0659334A53.6332414 53.6332414 0 0 0 1387.32440947 237.12330028z" p-id="2859"></path></svg></em></a>
						<ul class="menu">
							<li><a href="#" class="hover-f">Luckiest Packs</a></li>
							<li><a href="#" class="hover-f">FIFA19 Packs</a></li>
							<li><a href="#" class="hover-f">Luckiest Packs</a></li>
						</ul>
					</li>
					<li><a href="#">Luckiest Packs</a></li>
					<li><a href="#">FIFA19 Packs</a></li>
					<li><a href="#">Sell Coins</a></li>
					<li><a href="#">How To Buy</a></li>
					<li><a href="#">Giveaway</a></li>
				</ul>
				<div class="menu-sign"><a href="#" class="hover-f"><svg class="icon-sign" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3249"><path d="M501.148282 511.008362a37.542166 37.542166 0 0 1-38.245683-36.710738V36.902606C462.902599 16.564601 480.042805 0 501.148282 0c21.169433 0 38.373594 16.628557 38.373594 36.902606v437.20315a37.606122 37.606122 0 0 1-38.309638 36.902606zM489.636203 1023.295845a497.385736 497.385736 0 0 1-346.001907-138.272851A470.460265 470.460265 0 0 1 38.746472 734.98224a457.413243 457.413243 0 0 1 17.587897-402.794826A483.187507 483.187507 0 0 1 205.223915 167.564695a39.205022 39.205022 0 0 1 53.467207 8.570102 35.943267 35.943267 0 0 1-8.953838 51.35666 408.422954 408.422954 0 0 0-125.609565 139.040323 380.857922 380.857922 0 0 0-47.263477 184.576988c0 106.422768 42.978425 206.449937 121.004734 281.662181a417.760529 417.760529 0 0 0 291.895139 116.655727 418.016352 418.016352 0 0 0 291.89514-116.591771 388.596597 388.596597 0 0 0 120.876822-281.726137 380.538142 380.538142 0 0 0-47.135565-184.576988 408.039218 408.039218 0 0 0-125.801433-138.912411 35.943267 35.943267 0 0 1-9.401531-50.653144l0.63956-0.767472a39.141066 39.141066 0 0 1 53.403252-8.570102 482.547947 482.547947 0 0 1 148.82559 164.558763 456.965551 456.965551 0 0 1 17.651853 402.794826 469.820705 469.820705 0 0 1-104.887824 150.10471 489.902886 489.902886 0 0 1-155.540969 101.178376A503.461556 503.461556 0 0 1 489.636203 1023.295845z" p-id="3250"></path></svg>Logout</a></div>
			</div>
		</div>
	</div>
	<% } else if(data.StateCode == 1) { %>
	<!--带返回的手机端头部-->
	<div class="nav-one">
		<svg class="icon-return hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3048"><path d="M766.86222222 1021.72444445c-10.24 0-20.59377778-3.64088889-28.44444444-10.92266667L228.69333333 538.39644445c-15.70133333-14.56355555-15.70133333-38.22933333 0-52.7928889L738.41777778 13.19822222c15.70133333-14.56355555 41.18755555-14.56355555 56.88888889 0 15.70133333 14.56355555 15.70133333 38.22933333 0 52.79288889L314.02666667 512l481.28 446.00888889c15.70133333 14.56355555 15.70133333 38.22933333 0 52.79288889-7.85066667 7.28177778-18.20444445 10.92266667-28.44444445 10.92266667z" p-id="3049"></path></svg>
		<span class="title"><%=data.TitleName%></span>
		<span class="station"></span>
	</div>
	<% } %>
</nav>

