<!--pc端-->
<div class="crumbs-bok">
	<ul class="crumbs">
		<li><a href="#" class="hover-f"><svg class="icon-home" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="47992"><path d="M512.03328 0.000155a125.083133 125.083133 0 0 0-90.918774 38.927509L32.847898 443.06627C-7.212217 484.802021-2.092218 520.859228 4.532751 535.924438c4.654545 10.689938 20.681694 40.0446 70.950777 38.586176L124.154551 574.060674v310.302984c0 70.578414 54.59781 139.636342 126.634647 139.636342H418.942385V698.181868a62.060597 62.060597 0 0 1 62.060597-62.060597h77.575745a62.060597 62.060597 0 0 1 62.060597 62.060597v325.818132h155.151492c72.036838 0 124.121193-69.057929 124.121193-139.636342V574.060674h46.545448a79.00314 79.00314 0 0 0 73.045322-38.136236c6.624969-15.06521 11.744968-51.199992-28.315147-92.858168L602.952054 38.927664A125.083133 125.083133 0 0 0 512.03328 0.000155z" p-id="47993"></path></svg>Home</a></li>
		<li>></li>
		<li><a href="#" class="hover-f">News</a></li>
	</ul>
</div>